/*header styles*/
.header-flex{
    display: flex;
    justify-content: space-between;
    
}
ul {
    display: flex;
    justify-content: space-between;
    width: 581px;
    font-size: 20px;
    font-family: 'Lato';
    
}
h4{
    margin: 67px 0px 285px 100px;
    font-size: 32px;
    color: #4B647E;
    font-family: 'Lato';
}
h4 span{
    color: #3D37F1;
    font-weight: bold;
}
nav{
    margin: 87px 80px 267px 0px;
}
.burger-bar{
    font-size: 25px;
    color: grey;
     margin-top: 70px;
    display: none;
}

/* top-section styles*/

.heading-title{
    font-size: 65px;
    color: #534D4D;
    font-weight: bold;
    width: 600px;
    font-family: 'Lato';
}
.title{
    font-size: 22px;
    color:#534D4D;
    margin-top: 42px;
    font-family: 'Roboto';
}
/* .left-block{
    margin-left: 100px;

} */
/* .right-block{
margin-right: 80px;
} */
.top-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px ;
}

.blue-icon{
    display: flex;
    width: 260px;
    height: 75px;
    background-color: #3D37F1;
    border-radius: 38px; 
    margin-top: 83px;
    align-items: center;
    justify-content: center;
    margin-bottom: 287px;

}
.button-text{
    color: white;
    font-size: 23px;
    margin-left: 24px;
    font-family: 'Poppins';;

    

}

/*botttom section styles*/
.bottom-text{
    text-align: center;
}
.bottom-heading{
    margin-bottom: 18px;
    color: #3D37F1;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato';
}

.bottom-slogan{
    margin-bottom: 21px;
    color: #5A5454;
    font-size: 40px;
    font-family: 'Lato';
}
.bottom-title{
    width: 712px;
    height: 85;
    color: #747474;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 67px;
    font-family: 'Roboto';
    
}
.bottom-section{
    width: 1170px;
    margin: 0 auto;
    
    
}

/* flex blocks*/
 .bottom-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
} 

.block{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.text{
    width: 250px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 11px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto';
}
.image{
    margin-bottom: 50px;
    margin-top: 60px;
}


.block-heading{
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Lato';
}
.block:nth-child(1){
    background-color:#FBBA77;
}

.block:nth-child(2){
    background-color: blue;
    
}

.block:nth-child(3){
    background-color: #69529F;
}
.block:nth-child(4){
    background-color: #4386D2;
    margin-top: 60px;
}
.block:nth-child(5){
    background-color:#A5A2F6;
    margin-top: 60px;
}
.block:nth-child(6){
    background-color:#FF8088;
    margin-top: 60px;
}


/*icon styles*/
.icon{

    width: 130px;
    height: 45px;
    border: 2px solid white;
    border-radius: 23px;
    text-align: center;
    padding: 12px 0px;
    color: white;
    font-size: 15px;
    font-family: 'Roboto';
}

.icon:hover{
    background-color: white;
    color: #4B647E;
}
.coral{
    background-color:#FBBA77; ;
}
.blue{
    background-color: blue;
}
.indigo{
    background-color: #69529F;
}
.lightblue{
    background-color: #4386D2;
}

.purple{
    background-color: #A5A2F6;;
}

.pink{
    background-color: #FF8088;;

}